<form action="/memos/<%= params[:id] %>" method="post">
  <div class="form-group">
    <textarea class="form-control" rows="7" name="text" placeholder="1行目がメモのタイトルになります"><%= @memo.title%><%= @memo.description%></textarea>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch"> 
    <input type="submit" value="更新" class="btn btn-success">
  </div>
</form>
